<nav>
    <h1>Angular-Routing </h1>
<ul>
    <li>
        <a routerLink="">Home</a>
    </li>
    <li>
        <a routerLink="about">About</a>
    </li>
    <li>
        <a routerLink="user-login">Login</a>
    </li>
    <li>
        <a routerLink="user-register">Registration</a>
    </li>
</ul>
</nav>

<p> <a routerLink="">Home</a></p>
<p> <a routerLink="about/10">About</a></p>
<p> <a routerLink="user-login/20">Login</a></p>
<p><a routerLink="user-register/30">Registration</a></p>

<router-outlet></router-outlet>