nav img{
    width: 100px;
}
nav 
{
    background-color: skyblue;
    padding: 10px;
}
nav ul{
    float: right;
    list-style-type: none;
}

ul li{
    display: inline-block;
    padding: 20px;
}

li a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}