<button (click)=" toggle()" mat-button color="warn">Show User Registration Form</button>
<div *ngIf="show">
    <app-user-registration></app-user-registration>
</div>
<!-- <app-test-material-ui></app-test-material-ui> -->
<!-- <app-test-bootstrap></app-test-bootstrap> -->
<!-- <app-todo-list></app-todo-list> -->
<!-- <app-child [data]="Message"></app-child>
<input type="text" #txtChildData placeholder="Enter Value here"  />
<button (click)="updateData(txtChildData.value)">Update Child Value</button> -->
<!-- <app-user-child [data]="userDetails"></app-user-child> -->
 <!-- <h1>Child Data:{{Message}}</h1>
<app-child-parent (childEvent)="getChildData($event)"></app-child-parent> -->
<!-- <app-twoway-binding></app-twoway-binding> -->
<!-- <app-pips-demo></app-pips-demo> -->
<!-- <app-template-form></app-template-form> -->
<app-reactive-form></app-reactive-form>
